#headerContainer {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    #reduceWeek {
        flex-shrink: 1;
    }
    #fullDateHeading h1, h3{
        display: inline-block;
        flex-shrink: 1;
    }
    #incrementWeek {
        flex-shrink: 1;
    }
}



@media only screen and (max-width: 860px) {
    #headerContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;
        #reduceWeek {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
            align-self: center;
            justify-self: center;
        }
        #fullDateHeading {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
            align-self: center;
            justify-self: center;
        }
        #incrementWeek {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
            align-self: center;
            justify-self: center;
        }
    }
}

