<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>calender</title>
    <style>
        body {
            background-color: rgb(44, 43, 43);
        }

        .event {
            border: 1px solid black;
        }

        #calanderContainer {
            display: flex;
            text-align: center;
            justify-content: space-evenly;
        }

        .boxy {
            background-color: chocolate;
            padding: 0.2em;
            margin: 0.5em 0;
            display: inline-block;
        }

        #postForm,
        #editContainer {
            width: 300px;
            margin: 1em 0;
            border: solid 1px black;
        }
    </style>
    <!-- <link rel="stylesheet" href="./style.css"> -->
</head>

<body>

    <div id="editContainer" hidden>
        <button id="closeEditContainer">X</button>

        <form id="EditForm">
            <input type="hidden" id="custId" name="id" value="testValue">
            <label for="editTitle">Edit event:</label>
            <input type="text" id="editTitle" name="editTitle">
            <label for="editDate">Edit date:</label>
            <input type="date" id="editDate" name="editDate">
            <label for="editStarttime">Edit startime:</label>
            <input type="text" id="editStarttime" name="editStarttime">
            <label for="editEndtime">Edit endtime:</label>
            <input type="text" id="editEndtime" name="editEndtime">
            <label for="editNotes">Edit Noteringar:</label>
            <textarea id="editNotes" name="editNotes"></textarea>
            <input type="submit" value="edit">
            <!-- Add this event to the calender window instead? -->
            <button id="deleteEvent">Delete this event.</button>

        </form>
    </div>

    <button id="reduceWeek">
        left
    </button>
    <!-- <h1>Martins Kalender</h1> -->
    <button id="incrementWeek">
        right
    </button>
    <div id="calanderContainer">

        <!-- Id change to jsondataobject -->
        <div id="mandag">
            <h2 class="containerWeekDay">Måndag</h2>
            <div class="domDayObjects"></div>
        </div>
        <div id="tisdag">
            <h2 class="containerWeekDay">Tisdag</h2>
            <div class="domDayObjects"></div>
        </div>
        <div id="onsdag">
            <h2 class="containerWeekDay">Onsdag</h2>
            <div class="domDayObjects"></div>
        </div>
        <div id="torsdag">
            <h2 class="containerWeekDay">Torsdag</h2>
            <div class="domDayObjects"></div>
        </div>
        <div id="fredag">
            <h2 class="containerWeekDay">Fredag</h2>
            <div class="domDayObjects"></div>
        </div>
        <div id="lordag">
            <h2 class="containerWeekDay">Lördag</h2>
            <div class="domDayObjects"></div>
        </div>
        <div id="sondag">
            <h2 class="containerWeekDay">Söndag</h2>
            <div class="domDayObjects"></div>
        </div>

    </div>

    <form id="postForm">
        <input type="hidden" id="custId" name="id" value="testValue">
        <label for="title">Event:</label>
        <input type="text" id="title" name="title" placeholder="möte" required>
        <label for="date">Date:</label>
        <input type="date" id="date" name="date">
        <label for="starttime">Start time:</label>
        <input type="datetime" id="starttime" name="starttime" placeholder="14:25">
        <label for="endtime">End time:</label>
        <input type="text" id="endtime" name="endtime" placeholder="15:00">
        <label for="notes">Noteringar:</label>
        <textarea id="notes" name="notes" required></textarea>
        <input type="submit" value="add">
    </form>



    <!-- <script type="text/javascript" src="script.js"> -->

    <script>
        //Global vars

        const domDayObjects = document.querySelectorAll('.domDayObjects');

        //Unused.. For now..
        const containerWeekDay = document.querySelectorAll('.containerWeekDay');

        const reduceWeek = document.getElementById("reduceWeek");
        const incrementWeek = document.getElementById("incrementWeek");
        const postForm = document.getElementById("postForm");
        const putForm = document.getElementById("EditForm");
        const editContainer = document.getElementById("editContainer");
        // const calanderContainer = document.getElementById("domDayObjects")


        let unalteredDate = new Date();
        let date = new Date();

        // Debugging
        // date.setDate(date.getDate() + 3)
        // unalteredDate.setDate(unalteredDate.getDate() + 4)


        let jsonApiEvents;
        let storedEventID;
        window.onload = getData();

        // Fetch Data

        //get
        function getData() {
            fetch('/api/')
                .then(resp => resp.json())
                .then(data => {
                    jsonApiEvents = data;
                    calculateCurrentDay()
                }).catch((error) => {
                    console.error('Error:', error);
                });
        };


        //post
        postForm.addEventListener("submit", e => {
            e.preventDefault()
            const formData = new FormData(e.target);
            const options = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(Object.fromEntries(formData))
            };
            fetch('/api/', options)
                .then(res => res.json())
                .then(response => {
                    console.log(response);
                    let message = response.message;
                    domResponseFromApi(message);
                    window.location.reload();
                }).catch(err => {
                    console.log(err);
                    domResponseFromApi(err);
                });
        })


        //put
        putForm.addEventListener("submit", e => {
            e.preventDefault()
            console.log(storedEventID);
            const formData = new FormData(e.target);
            const options = {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(Object.fromEntries(formData))
            };
            fetch('/api/' + storedEventID, options)
                .then(res => res.json())
                .then(response => {
                    console.log(response);
                    let message = response.message;
                    domResponseFromApi(message);
                    window.location.reload();
                }).catch(err => {
                    console.log(err);
                    domResponseFromApi(err);
                });
        })

        //delete
        document.getElementById("deleteEvent").addEventListener("click", e => {
            console.log(storedEventID);
            e.preventDefault()
            const options = {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
            };
            fetch('/api/' + storedEventID, options)
                .then(res => res.json())
                .then(response => {
                    console.log(response);
                    let message = response.message;
                    domResponseFromApi(message);
                    window.location.reload();
                }).catch(err => {
                    console.log(err);
                    domResponseFromApi(err);
                });
        })

        //Hide popup...
        document.getElementById('closeEditContainer').addEventListener('click', () => {
            editContainer.hidden = true;
        })


        //display edit values
        function showEditEvent(obj) {
            console.log(obj);
            editContainer.hidden = false;
            document.getElementById('custId').value = obj.id;
            document.getElementById('editTitle').value = obj.title;
            document.getElementById('editDate').value = obj.date;
            document.getElementById('editStarttime').value = obj.starttime;
            document.getElementById('editEndtime').value = obj.endtime;
            document.getElementById('editNotes').value = obj.notes;
        }

        //get ID
        domDayObjects.forEach(eventContainer => {
            eventContainer.addEventListener("click", (e) => {
                console.log(e.target);
                if (e.target.nodeName === "BUTTON") {
                    //Get id from the element you press.....!
                    storedEventID = e.target.parentElement.id;
                    fetch('/api/' + storedEventID)
                        .then(res => res.json())
                        .then(objs => {
                            console.log("yo");
                            showEditEvent(objs[0]);
                        }).catch(err => {
                            console.log(err.message);
                        })
                }
            });
        });



        // functions for manipulating and appending dom.

        function domResponseFromApi(alertText) {
            alert(alertText)
        }

        function setDomDataObject(domDataObject, a) {
            date.setDate(date.getDate() + a);
            domDataObject.dataset.date = date.toLocaleString("sv-SE").slice(0, 10);
            // console.log(domJsonObjectChildren.dataset.date);
        }

        function markCurrentDay(domDataObject) {
            //Mark current local date
            if (date.getTime() === unalteredDate.getTime()) {
                domDataObject.style.backgroundColor = "green"
            } else {
                domDataObject.style.backgroundColor = "transparent"
            }
        }

        function setDomDaydate(domDataObject) {
            //Shit solution
            domDataObject.innerHTML = ` <div class="currentDate">${date.toLocaleString("sv-SE").slice(5, 10)}</div>`

        }

        function cleanDomEvents(domDataObject) {
            domDataObject.innerHTML = "";
            return;
        }

        function alterDomData() {
            let a;
            a = 0;
            for (let domDataObject of domDayObjects) {
                setDomDataObject(domDataObject, a)
                cleanDomEvents(domDataObject)
                setDomDaydate(domDataObject)
                markCurrentDay(domDataObject)
                a = 1;
            }
            date.setDate(date.getDate() - 6);
            return;
        }

        function appendDomData() {
            for (let domObject of domDayObjects) {
                //  console.log(jsonApiEvents);
                let jsonDateEvents = jsonApiEvents.filter(event => event.date === domObject.dataset.date)
                //  console.log(jsonDateEvents);



                for (jsonDateEvent of jsonDateEvents) {
                    let newDiv = document.createElement("div");
                    newDiv.classList.add("event");
                    newDiv.id = jsonDateEvent.id;
                    newDiv.innerHTML =
                        `<p>${jsonDateEvent.title}</p><p>Tid ${jsonDateEvent.starttime}-${jsonDateEvent.endtime}</p><button class="editBtn">More</button>`;
                    domObject.appendChild(newDiv);
                }
            }
            return
        }

        function modifyDomWeek() {
            alterDomData()
            appendDomData()
        }

        function calculateCurrentDay() {
            let validateDay = date.getDay();
            if (validateDay !== 1) {
                if (validateDay === 0) {
                    validateDay + 7;
                }
                date.setDate(date.getDate() - validateDay + 1);
            }
            modifyDomWeek()
        }



        //Events

        reduceWeek.addEventListener('click', () => {
            console.log("reduce");
            date.setDate(date.getDate() - 7);
            modifyDomWeek();
        })


        incrementWeek.addEventListener('click', () => {
            console.log("increment");
            date.setDate(date.getDate() + 7);
            modifyDomWeek();
        })
    </script>

    </script>
</body>

</html>