$shadowColor: rgba(0, 0, 0, 0.1);
$borderColor: rgba(0, 0, 0, 0.2);

$mainFontColor: rgba(59, 68, 131, 1);
$fontColorSecondary: rgba(243, 243, 243, 1);

$todaysDateColor: rgb(156, 157, 160);
$standardBorderRadius: 0.3rem;

$standardPadding: 0.5rem;
$mediumPadding: 1rem;
$largePadding: 1.5rem;

$minMargin: 0.2rem;
$standardMargin: 0.5rem;
$mediumMargin: 1rem;
$largeMargin: 1.5rem;
$extraLargeMargin: 2rem;

$standardContainerColor: rgba(251, 251, 251, 1);
$StandardSecondContainerColor: rgba(236, 236, 236, 1);
$StandardThirdContainerColor: rgb(243, 244, 247);
$standardFourthColor: rgba(204, 223, 228, 0.5);

$mainBtnColor: rgba(59, 68, 131, 1);
$mainBtnColorHoover: rgba(251, 251, 251, 1);
$secondaryBtnColor: rgba(228, 50, 76, 1);