<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>calender</title>
    <link rel="stylesheet" href="/assets/css/main.min.css">
</head>

<body>

    <header id="headerContainer">

        <div class="ChangeWeekBtn" id="reduceWeek">
            Nästa vecka
        </div>
        <h1>Martins Kalender</h1>
        <div class="ChangeWeekBtn" id="incrementWeek">
            Tidigare vecka
        </div>
    </header>



    <section id="editContainer" class="formPosition" hidden>

        <button id="closeEditContainerBtn">X</button>

        <h2>Ändra eller ta bort event</h2>

        <form id="EditForm">
            <input type="hidden" id="custId" name="id" value="">
            <label for="editTitle">Ändra event:</label>
            <input type="text" id="editTitle" name="editTitle" required>
            <label for="editDate">Ändra datum:</label>
            <input type="date" id="editDate" name="editDate" required>
            <label for="editStarttime">Ändra starttid:</label>
            <input type="time" id="editStarttime" name="editStarttime" required>
            <label for="editEndtime">Ändra sluttid:</label>
            <input type="time" id="editEndtime" name="editEndtime" required>
            <label for="editNotes">Ändra noteringar:</label>
            <textarea id="editNotes" name="editNotes"></textarea>
            <input type="submit" class="inputBtn" value="edit">
            <input type="button" class="inputBtn" id="deleteEvent" value="Delete this event">
            <!-- Add this event to the calender window instead? -->
           

        </form>
    </section>




    <main id="calanderContainer">

        <!-- Id change to jsondataobject -->
        <div  class="calenderContainerChild" id="mandag">
            <div class="containerWeekDay"><h3>Måndag</h3></div>
            <div class="domDayObjects"></div>
            <!-- <button class="postDataBtns">+</button> -->
        </div>
        <div  class="calenderContainerChild" id="tisdag">
            <div class="containerWeekDay"><h3>Tisdag</h3></div>
            <div class="domDayObjects"></div>
            <!-- <button class="postDataBtns">+</button> -->
        </div>
        <div  class="calenderContainerChild" id="onsdag">
            <div class="containerWeekDay"><h3>Onsdag</h3></div>
            <div class="domDayObjects"></div>
            <!-- <button class="postDataBtns">+</button> -->
        </div>
        <div  class="calenderContainerChild" id="torsdag">
            <div class="containerWeekDay"><h3>Torsdag</h3></div>
            <div class="domDayObjects"></div>
            <!-- <button class="postDataBtns">+</button> -->
        </div>
        <div  class="calenderContainerChild" id="fredag">
            <div class="containerWeekDay"><h3>Fredag</h3></div>
            <div class="domDayObjects"></div>
            <!-- <button class="postDataBtns">+</button> -->
        </div>
        <div  class="calenderContainerChild" id="lordag">
            <div class="containerWeekDay"><h3>Lördag</h3></div>
            <div class="domDayObjects"></div>
            <!-- <button class="postDataBtns">+</button> -->
        </div>
        <div  class="calenderContainerChild" id="sondag">
            <div class="containerWeekDay"><h3>Söndag</h3></div>
            <div class="domDayObjects"></div>
            <!-- <button class="postDataBtns">+</button> -->
        </div>

    </main>

    <div id="postDataContainer">
    <button id="postDataEventBtn">Posta ett nytt event</button>
</div>
    <section id="postContainer" class="formPosition" hidden>
        <button id="closePostContainerBtn">X</button>
        <h2>Posta ett nytt event</h2>
        <form id="postForm">
            <input type="hidden" id="custId" name="id" value="">
            <label for="title">Event:</label>
            <input type="text" id="title" name="title" placeholder="möte" required>
            <label for="date">Datum:</label>
            <input type="date" id="date" name="date" required>
            <label for="starttime">Starttid:</label>
            <input type="time" id="starttime" name="starttime" placeholder="14:25" required>
            <label for="endtime">Sluttid:</label>
            <input type="time" id="endtime" name="endtime" placeholder="15:00" required>
            <label for="notes">Noteringar:</label>
            <textarea id="notes" name="notes" placeholder="Ange egen notering"></textarea>
            <input type="submit" class="inputBtn" value="Posta nytt event">
        </form>
    </section>

    <script type="text/javascript" src="/script.js"></script>
</body>

</html>