<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>calender</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div id="editContainer" hidden>
        <button id="closeEditContainerBtn">X</button>

        <form id="EditForm">
            <input type="hidden" id="custId" name="id" value="">
            <label for="editTitle">Edit event:</label>
            <input type="text" id="editTitle" name="editTitle" required>
            <label for="editDate">Edit date:</label>
            <input type="date" id="editDate" name="editDate" required>
            <label for="editStarttime">Edit startime:</label>
            <input type="time" id="editStarttime" name="editStarttime" required>
            <label for="editEndtime">Edit endtime:</label>
            <input type="time" id="editEndtime" name="editEndtime" required>
            <label for="editNotes">Edit Noteringar:</label>
            <textarea id="editNotes" name="editNotes"></textarea>
            <input type="submit" value="edit">
            <!-- Add this event to the calender window instead? -->
            <button id="deleteEvent">Delete this event.</button>

        </form>
    </div>

    <button id="reduceWeek">
        left
    </button>
    <!-- <h1>Martins Kalender</h1> -->
    <button id="incrementWeek">
        right
    </button>
    <div id="calanderContainer">

        <!-- Id change to jsondataobject -->
        <div id="mandag">
            <h2 class="containerWeekDay">Måndag</h2>
            <div class="domDayObjects"></div>
        </div>
        <div id="tisdag">
            <h2 class="containerWeekDay">Tisdag</h2>
            <div class="domDayObjects"></div>
        </div>
        <div id="onsdag">
            <h2 class="containerWeekDay">Onsdag</h2>
            <div class="domDayObjects"></div>
        </div>
        <div id="torsdag">
            <h2 class="containerWeekDay">Torsdag</h2>
            <div class="domDayObjects"></div>
        </div>
        <div id="fredag">
            <h2 class="containerWeekDay">Fredag</h2>
            <div class="domDayObjects"></div>
        </div>
        <div id="lordag">
            <h2 class="containerWeekDay">Lördag</h2>
            <div class="domDayObjects"></div>
        </div>
        <div id="sondag">
            <h2 class="containerWeekDay">Söndag</h2>
            <div class="domDayObjects"></div>
        </div>

    </div>

    <form id="postForm">
        <input type="hidden" id="custId" name="id" value="">
        <label for="title">Event:</label>
        <input type="text" id="title" name="title" placeholder="möte" required>
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" required>
        <label for="starttime">Start time:</label>
        <input type="time" id="starttime" name="starttime" placeholder="14:25" required>
        <label for="endtime">End time:</label>
        <input type="time" id="endtime" name="endtime" placeholder="15:00" required>
        <label for="notes">Noteringar:</label>
        <textarea id="notes" name="notes" placeholder="Ange egen notering"></textarea>
        <input type="submit" value="add">
    </form>


    <script  type="text/javascript" src="/script.js"></script>
</body>

</html>