<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>calender</title>
    <link rel="stylesheet" href="/assets/css/main.min.css">
</head>

<body>

    <header id="headerContainer">
        <div id="postDataContainer">
            <button id="postDataEventBtn">Lägg till nytt event</button>
        </div>
        <section id="postContainer" class="formPosition" hidden>
            <button id="closePostContainerBtn">X</button>
            <h2>Nytt event</h2>
            <form id="postForm">
                <input type="hidden" id="custId" name="id">
                <label for="title">Event:</label>
                <input type="text" id="title" name="title" placeholder="möte" required>
                <label for="date">Datum:</label>
                <input type="date" id="date" name="date" required>
                <label for="starttime">Starttid:</label>
                <input type="time" id="starttime" name="starttime" placeholder="14:25" required>
                <label for="endtime">Sluttid:</label>
                <input type="time" id="endtime" name="endtime" placeholder="15:00" required>
                <label for="notes">Noteringar:</label>
                <textarea id="notes" name="notes" placeholder="Ange valfri notering (frivilligt)"></textarea>
                <input type="submit" class="inputBtn" value="Lägg till">
            </form>
        </section>

        <div id="fullDateHeading"></div>
        <div class="ChangeWeekBtn" id="reduceWeek">
        </div>
        <div class="ChangeWeekBtn" id="incrementWeek">
        </div>
    </header>

    <section id="editContainer" class="formPosition" hidden>

        <button id="closeEditContainerBtn">X</button>

        <h2>Ändra eller ta bort event</h2>

        <form id="EditForm">
            <input type="hidden" id="custId" name="id">
            <label for="editTitle">Ändra event:</label>
            <input type="text" id="editTitle" name="editTitle" required>
            <label for="editDate">Ändra datum:</label>
            <input type="date" id="editDate" name="editDate" required>
            <label for="editStarttime">Ändra starttid:</label>
            <input type="time" id="editStarttime" name="editStarttime" required>
            <label for="editEndtime">Ändra sluttid:</label>
            <input type="time" id="editEndtime" name="editEndtime" required>
            <label for="editNotes">Ändra noteringar:</label>
            <textarea id="editNotes" name="editNotes"></textarea>
            <input type="submit" class="inputBtn" value="Ändra">
            <input type="button" class="inputBtn" id="deleteEvent" value="Ta bort event">
            <!-- Add this event to the calender window instead? -->


        </form>
    </section>




    <main id="calanderContainer">

        <!-- Id change to jsondataobject -->
        <div class="calenderContainerChild" id="mandag">
            <div class="containerWeekDay"></div>
            <div class="domDayObjects"></div>
            <!-- <button class="postDataBtns">+</button> -->
        </div>
        <div class="calenderContainerChild" id="tisdag">
            <div class="containerWeekDay"></div>
            <div class="domDayObjects"></div>
            <!-- <button class="postDataBtns">+</button> -->
        </div>
        <div class="calenderContainerChild" id="onsdag">
            <div class="containerWeekDay"></div>
            <div class="domDayObjects"></div>
            <!-- <button class="postDataBtns">+</button> -->
        </div>
        <div class="calenderContainerChild" id="torsdag">
            <div class="containerWeekDay"></div>
            <div class="domDayObjects"></div>
            <!-- <button class="postDataBtns">+</button> -->
        </div>
        <div class="calenderContainerChild" id="fredag">
            <div class="containerWeekDay"></div>
            <div class="domDayObjects"></div>
            <!-- <button class="postDataBtns">+</button> -->
        </div>
        <div class="calenderContainerChild" id="lordag">
            <div class="containerWeekDay"></div>
            <div class="domDayObjects"></div>
            <!-- <button class="postDataBtns">+</button> -->
        </div>
        <div class="calenderContainerChild" id="sondag">
            <div class="containerWeekDay"></div>
            <div class="domDayObjects"></div>
            <!-- <button class="postDataBtns">+</button> -->
        </div>

    </main>


    <script type="text/javascript" src="/script.js"></script>
</body>

</html>