body {
    background-color: rgb(44, 43, 43);
}

.event {
    border: 1px solid black;
}

#calanderContainer {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}


#postForm,
#editContainer {
    width: 300px;
    margin: 1em 0;
    border: solid 1px black;
}